.hero{

    &__image{
        position: relative;
        background-image: url('/digitalbank-landing-page-master/images/bg-intro-mobile.svg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        min-height: 17.5rem;

        &::before {
            content: "";
            position: absolute;
            width: 100%;
            height: 100%;
            background-image: url('/digitalbank-landing-page-master/images/image-mockups.png');
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center center;
        }
    }

    &__text{

    }

}