// Colors
$darkBlue: hsl(233,26%, 24%);
$limeGreen: hsl(136,65%, 51%);
$brighCyan: hsl(192, 70%, 51%);
$grayishBlue: hsl(233, 8%, 62%);
$lighGrayishBlue: hsl(220, 16%, 96%);
$veryLighGray: hsl(0, 0%, 98%);
$white: hsl(0, 0, 100%);

//Font-sizes
$font-sm: 0.875rem; //14px
$font-med: 1.125rem; //18px